<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who Are We</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">More Women In Power is a nonprofit organization that exists to provide supporting environment for women interested in gender equality. Our vision is to create a network of empowered women who are confident in their abilities in various industries. Through connecting women around the world to connect and share with each other, we can help them improve their careers and the confidence they carry with them in their everyday lives.</p>
                </div>
            </div>
            
        </div>
    </section>